@model ShoghlanaTech.Models.RegisterViewModel
@{
    ViewBag.Title = "إنـشــاء حـســاب";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h6>أنـشىء حـساب جـديـد </h6>
                <hr />

                //User Name
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                // User Type
                <div class="form-group">
                    @Html.LabelFor(m => m.UserType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("UserType", new SelectList(new[] { "باحث عن وظيفة", "ناشر وظيفة" }),  new { @class ="form-control" })
                    </div>
                </div>
                // Email
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                // Password
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                // Confirm Password
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                // Submit
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="تأكيـد" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("لـدي حـسـاب بالفعل", "Login")
                </p>

             }
        </section>
    </div>
</div>
